<div ng-controller="ProfileCtrl" layout="column">
    <mg-ajax path="/profile/{{edit.params.id}}" options="mgEdit">
        <mg-ajax path="/profile/{{edit.params.id}}" options="mgDelete">
            <md-content>
                <md-toolbar class="filter md-theme-green">
                    <h2>Borrar este perfil</h2>
                </md-toolbar>
                <div class="md-whiteframe-z1">
                    <div layout="horizontal">
                        <div flex>
                            <form>
                                <h4>{{edit.model.label}}</h4>
                                <div layout="column">                                    
                                    <md-input-container class="md-block">
                                        <label>Nombre</label>
                                        <input disabled ng-model="edit.model.name">
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>Descripcion</label>
                                        <input disabled ng-model="edit.model.description">
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>Categoria</label>
                                        <input disabled ng-model="edit.model.category">
                                    </md-input-container>                    
                                    <md-input-container class="md-block"> 
                                        <md-checkbox disabled ng-model="edit.model.active" ng-true-value="1" ng-false-value="0" aria-label="Activo">
                                            Activo
                                        </md-checkbox>
                                    </md-input-container>     
                                </div>
                                <div layout="horizontal" layout-align="end">
                                    <md-button disabled class="md-theme-green" ng-click="delete.accept()">Borrar</md-button>
                                    <md-button disabled class="md-theme-red" ng-click="delete.close()">Cancelar</md-button>
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>
            </md-content>
        </mg-ajax>
    </mg-ajax>
</div>