<div layout="column" layout-margin layout-padding>
    <mg-ajax path="/type" options="mgCreate">
        <h1 class="display-4">Crear Tipo {{create.model.type}}</h1>
        <form ng-submit="create.accept()">
            <md-input-container class="md-block">
                <label>Nombre</label>
                <input ng-model="create.model.type">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Categoria</label>
                <input ng-model="create.model.category">
            </md-input-container>                    
            <md-input-container class="md-block"> 
                <p>Activo?</p>
                <md-checkbox class="md-primary" style="position:inherit;left:0px;visibility:visible;" ng-model="create.model.active" ng-true-value="1" ng-false-value="0" aria-label="Activo">
                    {{ create.model.active ? 'Si':'No' }}
                </md-checkbox>
            </md-input-container>   
            <div class="text-danger" ng-show="create.errorText"> 
                <ul>
                    <li ng-repeat="error in create.errorText">
                        {{error.message}}
                    </li>
                </ul>
            </div>
            <div class="md-form">
                <a ng-click="create.accept()" class="btn btn-success-outline btn-lg btn-block waves-effect"><i class="fa fa-check-circle left"></i> Crear</a>
                <a ng-click="create.close()" class="btn btn-danger-outline btn-lg btn-block waves-effect"><i class="fa fa-times-circle left"></i> Cancelar</a>
            </div>
        </form>        
    </mg-ajax>
</div>

