<div ng-controller="ModuleCtrl" layout="column">
    <mg-ajax path="/module" options="mgCreate">
        <h2>Crear Modulo</h2>
        <form ng-submit="create.accept()">
            <h2>{{create.model.label}}</h2>
            <div layout="column">                    
                <md-input-container class="md-block">
                    <label>Icon</label>
                    <input ng-model="create.model.iconfa">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Nombre</label>
                    <input ng-model="create.model.label">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Descripcion</label>
                    <input ng-model="create.model.description">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Controlador</label>
                    <input ng-model="create.model.controller">
                </md-input-container>            
                <md-input-container class="md-block"> 
                    <md-checkbox ng-model="create.model.active" ng-true-value="1" ng-false-value="0" aria-label="Activo">
                        Activo
                    </md-checkbox>
                </md-input-container>            
                <md-input-container class="md-block">
                    <label>Tipo de modulo</label>
                    <input ng-model="create.model.type_id">
                </md-input-container>
            </div>
        </form>
        <md-button class="md-raised md-primary" ng-click="create.accept()">Crear</md-button>
        <md-button class="md-raised md-accent" ng-click="create.close()">Cancelar</md-button>
    </mg-ajax>
</div>
