<div layout="column" layout-margin layout-padding>
    <mg-ajax path="/module/{{edit.params.id}}" options="mgEdit">
        <mg-ajax path="/module/{{edit.params.id}}" options="mgPut">
            <h1 class="display-4">Editar Modulo {{edit.model.label}}</h1>
            <span ng-show="edit.cachedModel"  class="text-danger">Tiene cache</span>
            <form>
                <md-input-container class="md-block">
                    <label>Icon</label>
                    <input ng-model="edit.model.iconfa">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Nombre</label>
                    <input ng-model="edit.model.label">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Descripcion</label>
                    <input ng-model="edit.model.description">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Controlador</label>
                    <input ng-model="edit.model.controller">
                </md-input-container>            
                <md-input-container class="md-block">
                    <p>Activo?</p>
                    <md-checkbox  class="md-primary" style="position:inherit;left:0px;visibility:visible;" ng-model="edit.model.active" ng-true-value="1" ng-false-value="0" aria-label="Activo">
                        {{ edit.model.active ? 'Si':'No' }}
                    </md-checkbox>                
                </md-input-container>           
                <md-input-container class="md-block">
                    <ajax-get path="http://localhost/yii2-angularjs-swinn/backend/web/type" value="types">
                        <md-select ng-model="edit.model.type_id" placeholder="Tipo de Modulo" required md-no-asterisk="false">
                            <md-option ng-repeat="type in types" value="{{type.id}}">{{type.type}}</md-option>
                        </md-select>
                    </ajax-get>
                </md-input-container>
                <div class="text-danger" ng-show="put.errorText"> 
                    <ul>
                        <li ng-repeat="error in put.errorText">
                            {{error.message}}
                        </li>
                    </ul>
                </div>
                <div class="md-form">
                    <a ng-click="put.accept()" class="btn btn-success-outline btn-lg btn-block waves-effect"><i class="fa fa-check-circle left"></i> Actualizar</a>
                    <a ng-click="put.close()" class="btn btn-danger-outline btn-lg btn-block waves-effect"><i class="fa fa-times-circle left"></i> Cancelar</a>
                </div>
            </form>
        </mg-ajax>
    </mg-ajax>
</div>