<div layout="column" layout-margin layout-padding>
    <mg-ajax id="moduleIndex" path="/module?expand=type" options="mgIndex" mg-override="{show:true}" ng-init="index.filter={page:0,recordsPerPage:1}">
        <h1 class="display-4">Lista de Modulos</h1>
        <span ng-show="index.cachedModel" class="text-danger">Tiene cache</span>
        <a ng-href="#/module/create" mg-save-cache="#moduleIndex" class="btn btn-primary-outline btn-lg btn-block waves-effect"><i class="fa fa-plus-square left"></i> Crear nuevo</a>
        <!--<div class="spinner" ng-show="index.show"></div>-->
        <table class="table">
            <tbody>     
                <tr>
                    <td>#</td>
                    <!--<td></td>-->
                    <td>Icono</td>
                    <td>
                        <input type="text" placeholder="Nombre" id="names" class="blue-text" ng-model="search.label">
                    </td>
                    <td>
                        <input type="text" placeholder="Controlador" id="surnames" class="blue-text" ng-model="search.controller">
                    </td>
                    <td>
                        <input type="text" placeholder="Descripcion" id="surnames" class="blue-text" ng-model="search.description">
                    </td>
                    <td>Acciones</td>
                </tr>
                <tr ng-repeat="item in index.model| filter:search">
                    <th scope="row">{{$index + 1}}</th>
                    <!--                <td>
                                        <fieldset class="form-group">
                                            <input type="checkbox" id="checkbox{{item.id}}">
                                            <label for="checkbox{{item.id}}"></label>
                                        </fieldset>
                                    </td>-->
                    <td><i class="fa {{item.iconfa}}"></i></td>
                    <td>{{item.label}}</td>
                    <td>{{item.controller}}</td>
                    <td>{{item.description}}</td>
                    <td>
                        <a href="" class="blue-text" ng-click="setModel(item)" data-toggle="modal" data-target=".bd-modal-lg"><i class="fa fa-eye"></i></a>
                        <a href="#/module/edit/{{item.id}}" class="teal-text"><i class="fa fa-pencil"></i></a>
                        <a href="#/module/delete/{{item.id}}" class="red-text"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Informacion de Modulo</h4>
                    </div>
                    <!--Body-->
                    <div class="modal-body container">
                        <div class="row">
                            <div class="md-form col-lg-4">
                                <blockquote class="blockquote bq-primary">
                                    <h5 class="text-primary">Icono</h5>
                                    <p class="lead"><i class="fa {{dataModel.iconfa}}"></i></p>
                                </blockquote>
                            </div>
                            <div class="md-form col-lg-4">
                                <blockquote class="blockquote bq-primary">
                                    <h5 class="text-primary">Nombre</h5>
                                    <p class="lead">{{dataModel.label}}</p>
                                </blockquote>                            
                            </div>
                            <div class="md-form col-lg-4">
                                <blockquote class="blockquote bq-primary">
                                    <h5 class="text-primary">Controlador</h5>
                                    <p class="lead">{{dataModel.controller}}</p>
                                </blockquote>                            
                            </div>
                        </div>       
                        <div class="row">
                            <div class="md-form col-lg-8">
                                <blockquote class="blockquote bq-primary">
                                    <h5 class="text-primary">Descripcion</h5>
                                    <p class="lead">{{dataModel.description}}</p>
                                </blockquote>
                            </div>                            
                            <div class="md-form col-lg-4">
                                <blockquote class="blockquote bq-primary">
                                    <h5 class="text-primary">Activo</h5>
                                    <p class="lead">{{dataModel.active ? 'Si':'No'}}</p>
                                </blockquote>
                            </div>                            
                        </div> 
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </mg-ajax>
</div>


