<div layout="column" layout-margin layout-padding>
    <mg-ajax path="/state/{{edit.params.id}}" options="mgEdit">
        <mg-ajax path="/state/{{edit.params.id}}" options="mgDelete">
            <h1 class="display-4">Borrar Estado {{edit.model.state}}</h1>
            <form>
                <md-input-container class="md-block">
                    <label>Nombre</label>
                    <input disabled ng-model="edit.model.state">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Categoria</label>
                    <input disabled ng-model="edit.model.category">
                </md-input-container>                    
                <md-input-container class="md-block"> 
                    <p>Activo?</p>
                    <md-checkbox disabled class="md-primary" style="position:inherit;left:0px;visibility:visible;" ng-model="edit.model.active" ng-true-value="1" ng-false-value="0" aria-label="Activo">
                        {{ edit.model.active ? 'Si':'No' }}
                    </md-checkbox>  
                </md-input-container>  
                <div class="md-form">
                    <a ng-click="delete.accept()" class="btn btn-success-outline btn-lg btn-block waves-effect"><i class="fa fa-check-circle left"></i> Borrar</a>
                    <a ng-click="delete.close()" class="btn btn-danger-outline btn-lg btn-block waves-effect"><i class="fa fa-times-circle left"></i> Cancelar</a>
                </div>
            </form> 
        </mg-ajax>
    </mg-ajax>
</div>