<div layout="column" layout-margin layout-padding>
    <mg-ajax path="/state/{{edit.params.id}}" options="mgEdit">
        <mg-ajax path="/state/{{edit.params.id}}" options="mgPut">
            <h1 class="display-4">Editar Estado {{edit.model.state}}</h1>
            <span ng-show="edit.cachedModel"  class="text-danger">Tiene cache</span>
            <form>
                <md-input-container class="md-block">
                    <label>Nombre</label>
                    <input ng-model="edit.model.state">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Categoria</label>
                    <input ng-model="edit.model.category">
                </md-input-container>                    
                <md-input-container class="md-block">
                    <p>Activo?</p>
                    <md-checkbox  class="md-primary" style="position:inherit;left:0px;visibility:visible;" ng-model="edit.model.active" ng-true-value="1" ng-false-value="0" aria-label="Activo">
                        {{ edit.model.active ? 'Si':'No' }}
                    </md-checkbox>                
                </md-input-container>
                <div class="text-danger" ng-show="put.errorText"> 
                    <ul>
                        <li ng-repeat="error in put.errorText">
                            {{error.message}}
                        </li>
                    </ul>
                </div>   
                <div class="md-form">
                    <a ng-click="put.accept()" class="btn btn-success-outline btn-lg btn-block waves-effect"><i class="fa fa-check-circle left"></i> Actualizar</a>
                    <a ng-click="put.close()" class="btn btn-danger-outline btn-lg btn-block waves-effect"><i class="fa fa-times-circle left"></i> Cancelar</a>
                </div>
            </form>
        </mg-ajax>
    </mg-ajax>
</div>