<div ng-controller="UserCtrl" layout="column">
    <mg-ajax path="/user/{{edit.params.id}}" options="mgEdit">
        <mg-ajax path="/user/{{edit.params.id}}" options="mgPut">
            <md-content>
                <md-toolbar class="filter md-theme-green">
                    <h2>Editar datos usuario</h2>
                </md-toolbar>
                <div class="md-whiteframe-z1">                    
                    <div flex>
                        <form>
                            <h2>{{edit.model.names}}</h2>
                            <md-text-float label="Name" ng-model="edit.model.names" class="long"> </md-text-float>
                            <div layout="column">
                                <md-input-container>
                                    <label>Nombres</label>
                                    <input ng-model="edit.model.names">
                                </md-input-container>
                                <md-input-container>
                                    <label>Apellidos</label>
                                    <input ng-model="edit.model.surnames">
                                </md-input-container>
                                <md-input-container>
                                    <label>Correo electronico</label>
                                    <input ng-model="edit.model.email">
                                </md-input-container>
                                <md-input-container>
                                    <label>Usuario</label>
                                    <input ng-model="edit.model.username">
                                </md-input-container>
                                <md-input-container>
                                    <label>Clave</label>
                                    <input ng-model="edit.model.password">
                                </md-input-container>
                                <md-input-container> 
                                    <md-checkbox ng-model="edit.model.active" ng-true-value="1" ng-false-value="0" aria-label="Activo">
                                        Activo
                                    </md-checkbox>
                                </md-input-container>
                                <md-input-container>
                                    <p>Sexo</p>
                                    <md-radio-group ng-model="edit.model.sex">
                                        <md-radio-button value="M" class="md-primary">Masculino</md-radio-button>
                                        <md-radio-button value="F">Femenino</md-radio-button>
                                    </md-radio-group>                
                                </md-input-container>
                                <md-input-container>
                                    <label>Pefil de usuario</label>
                                    <input ng-model="edit.model.profile_id">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Tipo de usuario</label>
                                    <input ng-model="edit.model.type_id">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Estado de usuario</label>
                                    <input ng-model="edit.model.state_id">
                                </md-input-container>
                            </div>
                            <span ng-show="edit.cachedModel" style="color: red">Tiene cache</span>
                        </form>
                    </div>
                    <div layout="row" layout-align="end">
                        <md-button class="md-theme-green" ng-click="put.accept()">Actualizar</md-button>
                        <md-button class="md-theme-red" ng-click="put.close()">Cancelar</md-button>
                    </div>
                </div>
            </md-content>
        </mg-ajax>
    </mg-ajax>
</div>