
<div layout="column" layout-margin layout-padding>
    <mg-ajax id="userIndex" path="/user" options="mgIndex" ng-init="index.filter={page:0,recordsPerPage:1}">
        <h2>Lista de usuarios</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Primer nombre</th>
                    <th>Apellidos</th>
                    <th>Usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in index.model| filter:search">
                    <th scope="row">{{$index + 1}}</th>
                    <td>
                        <fieldset class="form-group">
                            <input type="checkbox" id="checkbox{{item.id}}">
                            <label for="checkbox{{item.id}}"></label>
                        </fieldset>
                    </td>
                    <td>{{item.names}}</td>
                    <td>{{item.surnames}}</td>
                    <td>{{item.username}}</td>
                    <td>
                        <a href="" class="blue-text"><i class="fa fa-user"></i></a>
                        <a href="#/user/edit/{{item.id}}" class="teal-text"><i class="fa fa-pencil"></i></a>
                        <a href="#/user/delete/{{item.id}}" class="red-text"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </mg-ajax>
</div>

